to:             #creates MR to every branch from current
    - dev
    - staging
    - master
projectId: 120 #gitlab project id
assignee: 72 #user id to assignee MR
url: '' #gitlab url
token: ''
projectDir: '' #for take current branch
